// Styles for dialog window
.mfp-wrap
  -webkit-overflow-scrolling: touch
  -webkit-transform: translateZ(0)

html.mfp-helper
  height: 100%
  body
    overflow: hidden
    height: 100%
    -webkit-transform: translateZ(0)

.mfp-container
  padding: 0

// callback
.popup
  margin: 40px auto
  position: relative


.cb
  background: white
  display: flex
  &__col
    flex: 0 1 50%
    max-width: 50%
    min-width: 1px
    min-height: 0
    padding: 40px 50px 60px
    &--muted
      background: #FAFAFA
      border-left: 1px solid $borderColor

  &__phone
    margin: 0
    position: relative
    color: $fontColor
    padding-bottom: 12px
    font-size: 24px
    font-family: $noto
    font-weight: 700
    transition: .25s $ease
    &:hover
      color: $colorPrimary

  &__content
    margin-top: 35px

  &__btn-row
    margin-top: 35px
    display: flex
    align-items: center
    .btn
      margin-right: 30px
      border-color: $borderColor
      padding: 10px 20px
      font-weight: 400
      &:last-child
        margin-right: 0



  &__form
    .ui-group
      margin-bottom: 20px
      input, textarea
        border-color: $borderColor
        &:focus
          border-color: $colorPrimary
    &-line
      display: flex
      margin-left: -20px
      margin-right: -20px
      .ui-group
        flex: 0 1 50%
        max-width: 50%
        padding: 0 20px

    &-cta
      text-align: right

// Fade-zoom animation for first dialog

.popup-buble
  .popup-dialog, .mfp-content
    opacity: 0
    transition: all 0.2s ease-in-out
    transform: scale(0.8) translate3d(0,50%,0)
  &.mfp-ready
    .popup-dialog, .mfp-content
      opacity: 1
      transform: scale(1)
  &.mfp-removing
    .popup-dialog, .mfp-content
      transform: scale(0.8) translate3d(0,-50%,0)
      opacity: 0
  &.mfp-bg
    background: rgba(black, .75)
    opacity: 0
    transition: opacity 0.3s $ease
  &.mfp-ready.mfp-bg
    opacity: 1
  &.mfp-removing.mfp-bg
    opacity: 0


.mfp-iframe-holder
  max-width: 1680px
  padding-left: 50px
  padding-right: 50px
  transition: 0s
  .mfp-content
    max-width: 100%
    width: 100vw
    height: 56.25vw
    max-height: 100vh
    max-width: 177.78vh
    margin: auto
    position: absolute 0
    transition: 0s

// Fade-move animation
.my-mfp-slide-bottom
  .zoom-anim-dialog
    opacity: 0
    transition: all 0.2s ease-out
    transform: translateY(-20px) perspective(600px) rotateX(10deg)
  &.mfp-ready .zoom-anim-dialog
    opacity: 1
    transform: translateY(0) perspective(600px) rotateX(0)
  &.mfp-removing .zoom-anim-dialog
    opacity: 0
    transform: translateY(-10px) perspective(600px) rotateX(10deg)
  &.mfp-bg
    opacity: 0
    transition: opacity 0.3s ease-out
  &.mfp-ready.mfp-bg
    opacity: 0.8
  &.mfp-removing.mfp-bg
    opacity: 0
