// ABOUT
.about
  .container
    .b-heading
      h2.heading.heading--h2.wow КОРОТКО О НАШЕЙ КОМПАНИИ
      
    .about__wrapper
      .about__col.wow(data-animation-class="wowFadeLeft")
        .about__col-name Начало
        p Агентство недвижимости New Moscow House было основано еще в 2015 году. В команде агентства на тот момент было всего три человека, которые работали уже больше 7 лет с загородной недвижимостью Москвы в разных компаниях. Объединив усилия они создали агентство недвижимости New Moscow House.
        
      .about__col.wow(data-animation-class="wowFadeRight")
        .about__col-name Почему Новая Москва
        p Агентство недвижимости New Moscow House было основано еще в 2015 году. В команде агентства на тот момент было всего три человека, которые работали уже больше 7 лет с загородной недвижимостью Москвы в разных компаниях. Объединив усилия они создали агентство недвижимости New Moscow House. 
        .about__col-more
          a(href="#")
            span читать дальше
            +icon('ico-arrow-right')
