// HEADER :: START
header.header.header--static
  .header-container
    .container
      .header__wrapper
        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
                
        a(href="homepage.html").header__logo
          +icon('ico-logo')
        ul.header__menu
          li
            a(href='search.html') ДОМА
          li
            a(href='search-2.html') УЧАСТКИ
          li
            a(href='#') ТАУНХАУСЫ
          li
            a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
          li
            a(href='blog.html') БЛОГ
            
        .header__cta
          a(href="tel:+78007008472").header__phone +7 (800) 700-84-72
        
        a(href='#' js-open-header-search).header__search
          +icon('ico-search')
  
  // search
  .header-search
    .container
      .header-search__wrapper
        .header-search__input
          .ui-group.ui-group--search
            input(type="text" placeholder="Название" js-autocomplete data-url="json/cities.json")
            +icon('ico-search')
        .header-search__slider.swiper-container(js-header-slider)
          .header-search__prev
            +icon('ico-arrow-left')
          .swiper-wrapper
            .header-search__slide
              span полное сопровождение сделок
            .header-search__slide
              span гарантия качества
            .header-search__slide
              span цены от собственников и засройщиков
              
          // controls
          .header-search__next
            +icon('ico-arrow-right')
          
    
// HEADER :: END

include _mobile-navi
include _mobile-search
