// HEADER :: START
header.header.header--static
  .header-container
    .container
      .header__wrapper
        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
                
        a(href="homepage.html").header__logo
          +icon('ico-logo')
        ul.header__menu
          li
            a(href='search.html') ДОМА
          li
            a(href='search-2.html') УЧАСТКИ
          li
            a(href='#') ТАУНХАУСЫ
          li
            a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
          li
            a(href='blog.html') БЛОГ
            
        .header__cta
          a(href="tel:+78007008472").header__phone +7 (800) 700-84-72
        
        a(href='#' js-open-mobile data-target="mobile-search").header__search
          +icon('ico-search')
  
  // search
  .header-search
    .container
      .header-search__wrapper
        .header-search__input
          .ui-group.ui-group--search
            input(type="text" placeholder="Название" js-search-hints)
            +icon('ico-search')
            // search hints
            .s-hints
              .s-hints__wrapper
                .s-hints__close(js-close-hints)
                  +icon('ico-close')
                  
                // section
                .s-hints__section
                  .s-hints__section-name Расположение
                  ul.s-hints__list
                    li
                      a(href="#") Прилевальное поселение
                    li
                      a(href="#") КП “Прилесной дом”
                // section  
                .s-hints__section
                  .s-hints__section-name Особенности недвижимости
                  ul.s-hints__list
                    li
                      a(href="#") Прилевальное поселение
                    li
                      a(href="#") КП “Прилесной дом”
                // section  
                .s-hints__section
                  .s-hints__section-name Объекты недвижимости
                  ul.s-hints__list
                    li
                      a(href="#").s-hints-property
                        .s-hints-property__image
                          img(src="http://via.placeholder.com/90x60" srcset="http://via.placeholder.com/180x120 2x")
                        .s-hints-property__content
                          .s-hints-property__id ID 324
                          .s-hints-property__name Прилесной участок в деревне Романцево
                          .s-hints-property__price 18 000 000 <span>₽</span>
                            
                    li
                      a(href="#").s-hints-property
                        .s-hints-property__image
                          img(src="http://via.placeholder.com/90x60" srcset="http://via.placeholder.com/180x120 2x")
                        .s-hints-property__content
                          .s-hints-property__id ID 324
                          .s-hints-property__name Прилесной участок в деревне Романцево
                          .s-hints-property__price 18 000 000 <span>₽</span>
                            


// HEADER :: END

include _mobile-navi
include _mobile-search
