// HEADER :: START
header.header.header--static
  .header-container
    .container
      .header__wrapper
        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
                
        a(href="homepage.html").header__logo
          +icon('ico-logo')
        ul.header__menu
          li
            a(href='search.html') ДОМА
          li
            a(href='search-2.html') УЧАСТКИ
          li
            a(href='#') ТАУНХАУСЫ
          li
            a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
          li
            a(href='blog.html') БЛОГ
            
        .header__cta
          a(href="tel:+78007008472").header__phone +7 (800) 700-84-72
        
        a(href='#' js-open-mobile data-target="mobile-search").header__search
          +icon('ico-search')
  
  // search
  .header-search
    .container
      .header-search__wrapper
        // parent container for search hints and tags logic
        .hints(js-search-container data-url="/json/api-hints.json")
          +icon('ico-search')
          .hints__suggestions(js-search-tags)
            // will be populated if any tags are selected
            //- .s-hint-suggestion 
            //-   span Гараж
            //-   +icon('ico-close')
              
          input(type="text" placeholder="Ищите по расположению или особенности объекта. Например, “гараж” или “Десеновское поселение”." js-search-hints)
          .hints__reset(js-search-reset) Сбросить
            
          include _search-hints
                    

// HEADER :: END

include _mobile-navi
include _mobile-search
