// HEADER :: START
header.header.header--static
  .header-container
    .container
      .header__wrapper
        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
                
        a(href="homepage.html").header__logo
          +icon('ico-logo')
        ul.header__menu
          li
            a(href='search.html') ДОМА
          li
            a(href='search-2.html') УЧАСТКИ
          li
            a(href='#') ТАУНХАУСЫ
          li
            a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
          li
            a(href='blog.html') БЛОГ
            
        .header__cta
          a(href="tel:+78007008472").header__phone +7 (800) 700-84-72
        
        a(href='#' js-open-mobile data-target="mobile-search").header__search
          +icon('ico-search')
  
  // search
  .header-search
    .container
      .header-search__wrapper
        // parent container for search hints and tags logic
        .header-search__input(js-search-container data-url="/test")
          +icon('ico-search')
          .header-search__suggestions(js-search-tags)
            // will be populated if any tags are selected
            //- .s-hint-suggestion 
            //-   span Гараж
            //-   +icon('ico-close')
              
          input(type="text" placeholder="Ищите по расположению или особенности объекта. Например, “гараж” или “Десеновское поселение”." js-search-hints)
          .header-search__reset(js-search-reset) Сбросить
            
          // SEARCH HINTS
          .s-hints
            .s-hints__wrapper(js-scrollbar)
              .s-hints__close(js-close-hints)
                +icon('ico-close')
              
              // loader
              .s-hints__loader
                +icon('ico-hints-loader')
                span загрузка…
              
              // list of sections to be appended with jQuery
              // search for '[js-search-hints]' in main.js
              
              // section
              .s-hints__section
                .s-hints__section-name Расположение
                ul.s-hints__list
                  li
                    a(href="#") label

              // section  
              .s-hints__section
                .s-hints__section-name Особенности недвижимости
                ul.s-hints__list
                  li
                    a(href="#") label
                    
              // section  
              .s-hints__section
                .s-hints__section-name Объекты недвижимости
                ul.s-hints__list
                  li
                    a(href="#").s-hints-property
                      .s-hints-property__image
                        img(src="http://via.placeholder.com/90x60" srcset="http://via.placeholder.com/180x120 2x")
                      .s-hints-property__content
                        .s-hints-property__id ID 324
                        .s-hints-property__name Прилесной участок в деревне Романцево
                        .s-hints-property__price 18 000 000 <span>₽</span>
                          
                          
              // no results
              // also rendered with JS
              .s-hints__no-results
                .s-hints__no-results-text К сожалению поиск не дал результатов. Попробуйте, например, добавить:
                .s-hints__no-results-suggestions
                  .s-hint-suggestion Гараж
                  .s-hint-suggestion Прилесной участок
                    

// HEADER :: END

include _mobile-navi
include _mobile-search
