// HEADER :: START
header.header.is-white
  .header-container.wow(data-animation-class="wowFadeOpacity" data-animation-delay="1s")
    .container
      .header__wrapper
        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
                
        a(href="homepage.html").header__logo
          i.icon.icon-logo-white
          i.icon.icon-logo-black
        ul.header__menu
          li
            a(href='#') ДОМА
          li
            a(href='#') УЧАСТКИ
          li
            a(href='#') ТАУНХАУСЫ
          li
            a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
          li
            a(href='blog.html') БЛОГ
            
        .header__cta
          a(href="tel:+78007008472").header__phone +7 (800) 700-84-72
        
        a(href='#').header__search
          +icon('ico-search')
      
// HEADER :: END

.mobile-navi
  .mobile-navi__wrapper(js-scrollbar)
    .mobile-navi__menu
      li
        a(href='#') ДОМА
      li
        a(href='#') УЧАСТКИ
      li
        a(href='#') ТАУНХАУСЫ
      li
        a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
      li
        a(href='blog.html') БЛОГ
    .mobile-navi__cta
      a(href="tel:+78007008472").btn.btn-primary +7 (800) 700-84-72
      
