// HEADER :: START
header.header.header--static
  .header-container
    .container
      .header__wrapper
        .header__hamburger
          .hamburger.hamburger--squeeze(js-hamburger)
            .hamburger-box
              .hamburger-inner
                
        a(href="homepage.html").header__logo
          +icon('ico-logo')
        ul.header__menu
          li
            a(href='search.html') ДОМА
          li
            a(href='search-2.html') УЧАСТКИ
          li
            a(href='#') ТАУНХАУСЫ
          li
            a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
          li
            a(href='blog.html') БЛОГ
            
        .header__cta
          a(href="tel:+78007008472").header__phone +7 (800) 700-84-72
        
        a(href='#' js-open-mobile data-target="mobile-search").header__search
          +icon('ico-search')
  
  // search
  .header-search
    .container
      .header-search__wrapper
        .header-search__input
          .ui-group.ui-group--search
            input(type="text" placeholder="Ищите по расположению или особенности объекта. Например, “гараж” или “Десеновское поселение”." js-search-hints)
            +icon('ico-search')
            // search hints
            .s-hints
              .s-hints__wrapper
                .s-hints__close(js-close-hints)
                  +icon('ico-close')
                  
                .s-hints__loader
                  +icon('ico-hints-loader')
                  span загрузка…


// HEADER :: END

include _mobile-navi
include _mobile-search
