// HERO
.hero
  .container
    .hero__wrapper
      .b-heading.b-heading--white
        h1.heading.wow Позвольте найти ваш дом
        .subheading.wow(data-animation-delay=".1s") дома, таунхаусы и земельные участки в Новой Москве
      
      .hero__search
        .search-form(action="#")
          .search-form__name.wow(data-animation-delay=".3s")
            // parent container for search hints and tags logic
            .hints.hints--with-bg(js-search-container data-url="/json/api-hints.json")
              +icon('ico-search')
              .hints__suggestions(js-search-tags)
                // will be populated if any tags are selected
                //- .s-hint-suggestion 
                //-   span Гараж
                //-   +icon('ico-close')
                  
              input(type="text" placeholder="Можете добавить условие." js-search-hints)
              include _search-hints
                
          .search-form__category.wow(data-animation-delay=".4s")
            label категория
            .ui-group
              select(js-selectric)
                option(selected) Дом
                option Участок
                option Таунхаус
                
          .search-form__price.wow(data-animation-delay=".5s")
            label стоимость
            .search-form__price-row
              .ui-group
                input(type="text" placeholder="от" js-mask-price)
              .ui-group
                input(type="text" placeholder="до" js-mask-price)
          
          .search-form__cta.wow(data-animation-delay=".6s")
            button(type="submit").btn.btn-primary
              span поиск
