// hot
.hot
  .container
    .b-heading
      h2.heading.heading--h2.wow Интересные предложения
    
    .hot-slider.swiper-container(js-hot-slider)
      .swiper-wrapper
        //slide
        .hot-slider__slide
          .hot-card.wow(data-animation-delay=".3s")
            .hot-card__images.swiper-wrapper(js-hotCard-slider)
              .swiper-wrapper
                .hot-card__image
                  img(src='img/productImage_1.jpg' srcset='img/prodcutImage_1@2x.jpg 2x')
                .hot-card__image
                  img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                
              .hot-card__images-next
                +icon('ico-arrow-right')
              .hot-card__images-prev
                +icon('ico-arrow-left')
                      
            .hot-card__content
              .hot-card__info 
                span 325 кв. м
                span 8 сот.
                span 4 сп.
              .hot-card__name Дом “под ключ” в КП “Лесные Поляны”
              .hot-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
              .hot-card__price 12,900,000<span>₽</span>
              
        //slide 2
        .hot-slider__slide
          .hot-card.wow(data-animation-delay=".4s")
            .hot-card__images.swiper-wrapper(js-hotCard-slider)
              .swiper-wrapper
                .hot-card__image
                  img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                .hot-card__image
                  img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                
              .hot-card__images-next
                +icon('ico-arrow-right')
              .hot-card__images-prev
                +icon('ico-arrow-left')
                      
            .hot-card__content
              .hot-card__info 
                span 325 кв. м
                span 8 сот.
                span 4 сп.
              .hot-card__name Дом у озера под отделку в д. Лужки
              .hot-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
              .hot-card__price 12,900,000<span>₽</span>
        
        //slide 3
        .hot-slider__slide
          .hot-card.wow(data-animation-delay=".5s")
            .hot-card__images.swiper-wrapper(js-hotCard-slider)
              .swiper-wrapper
                .hot-card__image
                  img(src='img/productImage_4.jpg' srcset='img/prodcutImage_4@2x.jpg 2x')
                .hot-card__image
                  img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                
              .hot-card__images-next
                +icon('ico-arrow-right')
              .hot-card__images-prev
                +icon('ico-arrow-left')
                      
            .hot-card__content
              .hot-card__info 
                span 325 кв. м
                span 8 сот.
                span 4 сп.
              .hot-card__name Дом с мебелью и баней в КП «ВауТутинки»
              .hot-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
              .hot-card__price 12,900,000<span>₽</span>
        
        //slide 4
        .hot-slider__slide
          .hot-card.wow(data-animation-delay=".6s")
            .hot-card__images.swiper-wrapper(js-hotCard-slider)
              .swiper-wrapper
                .hot-card__image
                  img(src='img/productImage_3.jpg' srcset='img/prodcutImage_3@2x.jpg 2x')
                .hot-card__image
                  img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                
              .hot-card__images-next
                +icon('ico-arrow-right')
              .hot-card__images-prev
                +icon('ico-arrow-left')
                      
            .hot-card__content
              .hot-card__info 
                span 325 кв. м
                span 8 сот.
                span 4 сп.
              .hot-card__name Дом “под ключ” в КП “Лесные Поляны”
              .hot-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
              .hot-card__price 12,900,000<span>₽</span>
          
        //slide 5
        .hot-slider__slide
          .hot-card
            .hot-card__images.swiper-wrapper(js-hotCard-slider)
              .swiper-wrapper
                .hot-card__image
                  img(src='img/productImage_1.jpg' srcset='img/prodcutImage_1@2x.jpg 2x')
                .hot-card__image
                  img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                
              .hot-card__images-next
                +icon('ico-arrow-right')
              .hot-card__images-prev
                +icon('ico-arrow-left')
                      
            .hot-card__content
              .hot-card__info 
                span 325 кв. м
                span 8 сот.
                span 4 сп.
              .hot-card__name Дом “под ключ” в КП “Лесные Поляны”
              .hot-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
              .hot-card__price 12,900,000<span>₽</span>
        
        //slide 6
        .hot-slider__slide
          .hot-card
            .hot-card__images.swiper-wrapper(js-hotCard-slider)
              .swiper-wrapper
                .hot-card__image
                  img(src='img/productImage_1.jpg' srcset='img/prodcutImage_1@2x.jpg 2x')
                .hot-card__image
                  img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                
              .hot-card__images-next
                +icon('ico-arrow-right')
              .hot-card__images-prev
                +icon('ico-arrow-left')
                      
            .hot-card__content
              .hot-card__info 
                span 325 кв. м
                span 8 сот.
                span 4 сп.
              .hot-card__name Дом “под ключ” в КП “Лесные Поляны”
              .hot-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
              .hot-card__price 12,900,000<span>₽</span>
      
      // controls
      .hot-slider__next
        +icon('ico-arrow-right')
      .hot-slider__prev
        +icon('ico-arrow-left')
        
        
