// MOBILE NAVI
.m-navi
  .m-navi__wrapper(js-scrollbar data-x-disable="true")
    .m-navi__menu
      li
        a(href='#') ДОМА
      li
        a(href='#') УЧАСТКИ
      li
        a(href='#') ТАУНХАУСЫ
      li
        a(href='#') ЭЛИТНАЯ НЕДВИЖИМОСТЬ
      li
        a(href='blog.html') БЛОГ
    .m-navi__cta
      a(href="tel:+78007008472").btn.btn-primary +7 (800) 700-84-72
