// POPULAR
.popular
  .container
    .b-heading
      h2.heading.heading--h2.wow Новая Москва
      .subheading.wow(data-animation-delay=".1s") Популярные запросы
              
    .popular__wrapper
      .popular__col.wow(data-animation-delay=".3s")
        a(href="#").popular-card
          .popular-card__bg
            img(src='img/popularCard_1.jpg' srcset='img/popularCard_1@2x.jpg 2x')
          .popular-card__content
            .popular-card__name Дома в Новой Москве
            .popular-card__count 113 предложений
      //col
      .popular__col.wow(data-animation-delay=".4s")
        a(href="#").popular-card
          .popular-card__bg
            img(src='img/popularCard_2.jpg' srcset='img/popularCard_2@2x.jpg 2x')
          .popular-card__content
            .popular-card__name Земельные участки в Новой Москве
            .popular-card__count 70 предложений
      //col
      .popular__col.wow(data-animation-delay=".5s")
        a(href="#").popular-card
          .popular-card__bg
            img(src='img/popularCard_3.jpg' srcset='img/popularCard_3@2x.jpg 2x')
          .popular-card__content
            .popular-card__name Таунхаусы в Новой Москве
            .popular-card__count 12 предложений
      //col
      .popular__col.wow(data-animation-delay=".6s")
        a(href="#").popular-card
          .popular-card__bg
            img(src='img/popularCard_4.jpg' srcset='img/popularCard_4@2x.jpg 2x')
          .popular-card__content
            .popular-card__name Элитная  недвижимость
            .popular-card__count 49 предложений
