// FOOTER :: START
footer.print-footer
    
  // bottom
  .footer__bottom
    .footer__credentials.footer__credentials--mobile
      p © ООО “Проект Хаус”, 2016-2018 
      p ИНН 7703421252
      p  КПП 770301001
        
// FOOTER :: END
