// HEADER :: START
header.print-header
  .header__logo
    +icon('ico-logo')

  .print-header__contacts
    
    .print-header__phone +7 (800) 700-84-72
    .print-header__email info@newmoscowhouse.ru
