---
title: Blog page
pageClass: gray-bg
---
extends shared/_layout
block content

  // blog
  .blog.blog--inner
    .container
      .b-heading
        h2.heading.heading--h2.wow Блог
      
      // categories
      .blog-categories(js-scrollbar)
        a(href="#").is-active Последние записи
        a(href="#") Советы
        a(href="#") Обзоры
        a(href="#") Новости
        a(href="#") Видео обзоры
        a(href="#") Новости компании
        
      // grid
      .blog__grid
        .blog__col.wow(data-animation-delay=".3s")
          .blog-card
            a(href='blog-post.html').blog-card__image
              img(src='img/blogImage_1.jpg' srcset='img/blogImage_1@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category СОВЕТЫ
              .blog-card__name Как выбрать земельный участок для дома?
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
        //col
        .blog__col.wow(data-animation-delay=".4s")
          .blog-card
            a(href='blog-post.html').blog-card__image
              img(src='img/blogImage_2.jpg' srcset='img/blogImage_2@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category НОВОСТИ
              .blog-card__name В Новой Москве откроют новую станцию метро
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
                
        //col
        .blog__col.wow(data-animation-delay=".5s")
          .blog-card
            a(href='https://www.youtube.com/watch?v=0TV4V1VNNTY' js-popupVideo).blog-card__image
              i.icon.icon-play
              img(src='img/blogImage_3.jpg' srcset='img/blogImage_3@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category ВИДЕО ОБЗОР
              .blog-card__name Мы ищем в команду амбизиозных агентов
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
        
        // col
        .blog__col.wow(data-animation-delay=".3s")
          .blog-card
            a(href='blog-post.html').blog-card__image
              img(src='img/blogImage_1.jpg' srcset='img/blogImage_1@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category СОВЕТЫ
              .blog-card__name Как выбрать земельный участок для дома?
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
        //col
        .blog__col.wow(data-animation-delay=".4s")
          .blog-card
            a(href='blog-post.html').blog-card__image
              img(src='img/blogImage_2.jpg' srcset='img/blogImage_2@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category НОВОСТИ
              .blog-card__name В Новой Москве откроют новую станцию метро
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
                
        //col
        .blog__col.wow(data-animation-delay=".5s")
          .blog-card
            a(href='https://www.youtube.com/watch?v=0TV4V1VNNTY' js-popupVideo).blog-card__image
              i.icon.icon-play
              img(src='img/blogImage_3.jpg' srcset='img/blogImage_3@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category ВИДЕО ОБЗОР
              .blog-card__name Мы ищем в команду амбизиозных агентов
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
                
        // col
        .blog__col.wow(data-animation-delay=".3s")
          .blog-card
            a(href='blog-post.html').blog-card__image
              img(src='img/blogImage_1.jpg' srcset='img/blogImage_1@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category СОВЕТЫ
              .blog-card__name Как выбрать земельный участок для дома?
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
        //col
        .blog__col.wow(data-animation-delay=".4s")
          .blog-card
            a(href='blog-post.html').blog-card__image
              img(src='img/blogImage_2.jpg' srcset='img/blogImage_2@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category НОВОСТИ
              .blog-card__name В Новой Москве откроют новую станцию метро
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
                
        //col
        .blog__col.wow(data-animation-delay=".5s")
          .blog-card
            a(href="#").blog-card__image
              i(href='https://www.youtube.com/watch?v=0TV4V1VNNTY' js-popupVideo).icon.icon-play
              img(src='img/blogImage_3.jpg' srcset='img/blogImage_3@2x.jpg 2x')
            a(href='blog-post.html').blog-card__content
              .blog-card__category ВИДЕО ОБЗОР
              .blog-card__name Мы ищем в команду амбизиозных агентов
              .blog-card__info Вячеслав Люкшин |   13 Июня 2018
              
      // show more
      .blog__more
        a(href="#" js-more).btn.btn-primary Показать еще
