.search
  margin-top: 170px
  &__wrapper
    display: flex

  &__sidebar
    flex: 0 0 235px
    padding-right: 30px

    &-actions
      position: relative
      margin-top: 13px
      display: flex
      align-items: center
      padding-bottom: 6px
      margin-bottom: 35px
      &::after
        display: inline-block
        content: ' '
        position: absolute
        bottom: 0
        left: 0
        height: 1px
        background: rgba(#2A2A2A, .1)
        width: 50px
    .ui-group
      label
        font-size: 14px
        color: rgba($fontColor, .7)
  &__reset
    font-size: 14px
    color: rgba($fontColor, .3)
    margin-right: auto
    transition: .25s $ease
    &:hover
      color: $colorPrimary

  &__mobile-toggles
    display: none

  &__form
    margin-bottom: 30px

  &__name
    font-size: 24px
    font-weight: 700
    font-family: $noto

  &__content
    flex: 0 1 auto
    max-width: 870px
    min-width: 1px
    margin-left: auto
  &__filter
    display: flex
    align-items: center
    padding-bottom: 5px
    padding-top: 2px
    border-bottom: 1px solid rgba(#2A2A2A, .1)
    &-scope
      padding-right: 30px
      font-size: 14px
      color: rgba($fontColor, .3)

    &-select
      flex: 0 0 206px
      margin-left: auto
      .selectric
        width: 100%

  &__grid
    display: flex
    flex-wrap: wrap
    margin-top: 15px
    margin-left: -15px
    margin-right: -15px

  &__col
    flex: 0 0 33.3%
    max-width: 33.3%
    min-width: 1px
    display: flex
    flex-direction: column
    min-width: 1px
    min-height: 0
    padding: 15px
    margin-bottom: 10px


.slider-group
  position: relative
  margin-bottom: 40px
  label
    font-size: 14px
    font-family: $noto
  &__wrap
    margin-top: 18px
    // padding-left: 7px
    // padding-right: 7px
  &__set
    position: absolute
    right: 0px
    top: 2px
    text-align: right
    font-size: 14px
    color: rgba($fontColor, .5)
  .noUi-horizontal
    .noUi-handle
      size: 18px
      top: -9px
      // left: -9px
      right: -9px !important
    .noUi-handle-lower
      transform: translateX(7px)
    .noUi-handle-upper
      transform: translateX(-7px)

+r(1080)
  .search
    &__content
      max-width: 650px
    &__col
      flex-basis: 50%
      max-width: 50%

+r($tablet)
  .search
    margin-top: 125px
    &__wrapper
      display: block
    &__sidebar
      display: none

    &__mobile-toggles
      display: flex
      margin-top: 25px
      .btn-primary
        flex: 1 1 auto
        // padding-top: 13px
        // padding-bottom: 13px
      .btn-outline
        flex: 0 0 87px
        margin-left: 10px
        display: flex
        align-items: center
        justify-content: center
        .ico
          font-size: 15px
          &:first-child
            transform: rotate(90deg)
            margin-right: 8px
          &:last-child
            transform: rotate(-90deg)


    &__content
      margin-left: 0
      max-width: 100%

    &__filter
      display: block
      border-bottom: 0
      &-select
        display: none
      &-scope
        margin-top: 10px

+r($mobile)
  .search
    &__content
      padding-left: 5px
      padding-right: 5px

+r(568)
  .search
    &__col
      flex-basis: 100%
      max-width: 100%

.pagination
  text-align: center
  font-size: 14px
  font-family: $noto
  font-weight: 700
  margin: 50px 0 30px 0
  &__scope
    text-align: center
    letter-spacing: 0.08em
    margin-bottom: 20px
    color: rgba($fontColor, .5)
  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    justify-content: center
    letter-spacing: 0.032em
    li
      display: inline-block
      margin-right: 10px
      &:last-child
        margin-right: 0
      &.is-active
        a
          border-color: $colorPrimary
      &:hover
        a
          border-color: rgba($colorPrimary, .5)
    a
      display: inline-block
      border: 1px solid transparent
      border-radius: 8px
      min-size: 40px
      line-height: 30px
      padding: 5px
      text-align: center
      color: rgba($fontColor, .5)
      transition: .25s $ease

  &__prev, &__last
    position: relative
    a
      display: flex
      align-items: center
    .ico
      font-size: 8px

  &__prev
    .ico
      margin-right: 8px

  &__last
    .ico
      margin-left: 8px

+r($tablet)
  .pagination
    margin: 40px 0 25px 0

+r(480)
  .pagination
    &__prev, &__last
      span
        display: none

/* aka seo block
.page-information
  border-top: 1px solid $borderColor
  margin-top: 100px
  padding-top: 10px
  margin-bottom: 105px
  h1, h2, h3, h4
    font-family: $noto
    font-weight: 700
  h3
    font-size: 14px
    margin: 1.5em 0 1.3em
  p
    font-size: 14px
    margin: 1em 0
    color: rgba($fontColor, .5)
    line-height: 1.6
    letter-spacing: 0.032em
  &__paragraph
    &-head
      .ico
        display: none
    &-drop
      padding-bottom: 1px
      +rmin(769)
        display: block !important

+r($tablet)
  .page-information
    padding-top: 0
    margin-top: 60px
    h3
      margin: 1.9em 0
    &__paragraph
      border-bottom: 1px solid $borderColor
      &-head
        position: relative
        display: flex
        align-items: center
        cursor: pointer
        &::after
          display: inline-block
          content: ' '
          position: absolute 0
          left: -40px
          right: -40px
          background: $borderColor
          opacity: 0
          transition: .25s $ease
        h3
          padding-right: 15px
        .ico
          display: inline-block
          margin-left: auto
          transform: rotate(90deg)
          font-size: 10px
          transition: .25s $ease
        &.is-active
          .ico
            transform: rotate(-90deg)
        &:hover
          &::after
            opacity: 1
      &-drop
        display: none
