.ico-arrow-left {
  width: 0.57em;
  height: 1em;
  fill: #FFF;
}
.ico-arrow-right {
  width: 0.57em;
  height: 1em;
  fill: #FFF;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #404042;
}
.ico-drop-arrow {
  width: 1.67em;
  height: 1em;
  fill: #404042;
}
.ico-globe {
  width: 1em;
  height: 1em;
  fill: #979797;
}
.ico-logo {
  width: 2.52em;
  height: 1em;
  fill: initial;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: #404042;
}
.ico-social-fb {
  width: 0.96em;
  height: 1em;
  fill: #A7A7A7;
}
.ico-social-youtube {
  width: 1.38em;
  height: 1em;
  fill: #A7A7A7;
}
